import :root

.controles{
    display: flex;
    justify-content: space-around;;
}

.bttn-terminar{
    background-color: var(--clr-main) !important;
}
.itemDetails{
    font-family: 'Merriweather', serif

}