
.img-prod{
    border-radius: 1rem;
    max-width: 100%;
}
section .info{
    background-color: var(--clr-main);
    padding: .5rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.details{
    display: flex;
    align-items: center;
    justify-content: center;
}
