.navbar{
    background-color: var(--clr-main-dark);
    color: var(--clr-white);
    padding: 1rem 4rem 1rem 2rem;
    position: sticky;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    top:0;
    z-index: 2; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    gap: 2rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}
.logo{
    font-family:'Fuggles', cursive;
    font-weight: 400;
    font-size: 4rem;
    color: var(--clr-alter);
    position: right;
}
.navbar-menu{
    display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  font-weight: bold;
}

.boton-menu{
    border: 0;
    background-color:var(--clr-main-dark);
    color: var(--clr-alter);
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    align-items: center !important;
    transition: color 0.3s; 
}
.boton-menu-li:active{
    background-color: var(--clr-whiter);
    color: var(--clr-main-darker);
    position: relative;
}

a{
    text-decoration: none ;
}