
/*Bulma*/
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Merriweather:ital,wght@1,300&display=swap');
/*Colores*/
:root{
    --clr-whiter:  #f9ebf2 ;
    --clr-white:  #f3e2e8 ;
    --clr-main:  #fcd7da ;
    --clr-main-dark: #f58f9a ;
    --clr-main-darker: #f5707d ;
    --clr-main-even-darker: #e43d4e ;
    --clr-alter: #3c363b ;
    --clr-alter-whiter: #8a898aa6 ;
    --clr-red:#d83838 ;
}
/*Ajustes*/
h1, h2, h3, h4, h5, h6, p ,a, input, textarea{
    margin:0;
    padding:0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none !important;
}

Link{
    text-decoration: none
}

/*Estilos*/

root {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
    background-image: "./imgs/BCKG.jpg";
}

#logo {
    width: 100%; 
    height: 100%;
    opacity: 1;
    transform: scale(1);
    transition: opacity 1.5s ease, transform 1.5s ease, width 1.5s ease, height 1.5s ease;
}



.itemlist{
font-family: 'Merriweather', serif;}

.main{
    background-color: var(--clr-main);
    margin-left: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.numerito{
    background-color: var(--clr-main-darker);
    padding: 0.15rem .25rem;
    border-radius: .25rem;
    text-align: center;
}

.contenedor{
    display: flex;
    width: 100vw;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}

.error{
    color: var(--clr-red)
}