:root{
    
    --clr-whiter:  #f9ebf2 ;
    --clr-white:  #f3e2e8 ;
    --clr-main:  #fcd7da ;
    --clr-main-dark: #f58f9a ;
    --clr-main-darker: #f5707d ;
    --clr-main-even-darker: #e43d4e ;
    --clr-alter: #3c363b ;
    --clr-alter-whiter: #8a898aa6 ;
    --clr-red:#d83838 ;
}
.producto-agregar{
    border: 0;
    padding: .4rem;
    text-transform: uppercase;
    
    cursor: pointer;
    
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover{
    background-color: var(--clr-main) !important;
    text-decoration-line: underline;
    font-weight: bold;
}
.controles{
    display: flex;
}
.box{
    display: flex !important;
}

.counter{
    display: column;
}

.controles{
    display: flex;
    justify-content: space-around;;
}
.columns{
    margin : 0
}